<h1>Your Queues</h1>

<% @task_queues.each do |task_queue| %>
  <div class="queue_overview queue">
    <h2><%= link_to task_queue.name, task_queue %></h2>
    <p><%= link_to 'Edit', edit_task_queue_path(task_queue) %></p>
    <ul>
      <% task_queue.task_nodes.take(3).each do |task_node| %>
        <li><%= task_node.title %></li>
      <% end %>
      <li><%= link_to 'New Task node', new_task_queue_task_node_path(task_queue) %></li>
    </ul>
    <p><%= link_to 'Destroy', task_queue, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>


<br>

<%= link_to 'New Task queue', new_task_queue_path %>
